/* * {
  background-color: rgb(69, 69, 69);
} */

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(42, 39, 39);
  overflow-x: hidden;
}

Header {
  height: 75px;
  width: 100vw;
  background-color: rgb(11, 174, 255);
  padding: 0px 35px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  box-sizing: border-box;
}
/* 
.item-card {
  background-color: rgb(222, 215, 215);
} */

/* .item-card-left {
  padding: 0px 35px;
  align-items: center;
} */

.item-card {
  background: rgb(221, 215, 215);
  width: 600px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: left;
  border-radius: 3px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.7);
}
