/* * {
  background-color: rgb(69, 69, 69);
} */

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(42, 39, 39);
  overflow-x: hidden;
}

Header {
  height: 75px;
  width: 100vw;
  background-color: rgb(11, 174, 255);
  padding: 0px 35px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  box-sizing: border-box;
}

/* header {
  height: 80px;
  width: 100vw;
  background-color: blue;
} */
/* 
.item-card {
  background-color: rgb(222, 215, 215);
} */

/* .item-card-left {
  padding: 0px 35px;
  align-items: center;
} */

.item-card {
  background: rgb(221, 215, 215);
  width: 600px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: left;
  border-radius: 3px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.7);
}

.movie-list {
  list-style-type: none;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

h2 {
  cursor: pointer;
  padding: 25px;
}

h2:hover {
  color: white;
}

.bold {
  font-weight: bolder;
}

.edit-btn {
  display: flex;
  border: rgb(11,174,255);
  border-radius: 15px;
  padding: 5px 5px;
  margin: 15px 10px;
  background-color: rgb(11, 174, 255);
  color: white;
}

.edit-btn:hover {
  background-color: rgb(9,141,207);
  cursor: pointer;
}

.previous {
  color: white;
  background-color: rgb(42,39,39); 
  border: none;
  cursor: pointer;
  display: inline;
  font-size: large;
  font-weight: bold;
}

.previous:hover {
  color: rgb(9,141,207);
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%
}

.edit-container {
  display: flex;
}

.next-btn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

.next-btn:hover {
  color: rgb(9,141,207);
}

.Name {
  text-underline-position: under;
  text-decoration: underline;
  text-decoration-color: rgb(9,141,207);
  
}

.Number {
  font-size: 20px;
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
}
